SilentLib-1.15.2-4.6.6+59.jar filter=lfs diff=lfs merge=lfs -text
TrashSlot_1.15.2-11.0.0.jar filter=lfs diff=lfs merge=lfs -text
BiomesOPlenty-1.15.2-10.0.0.366-universal.jar filter=lfs diff=lfs merge=lfs -text
Bountiful+Baubles-1.15.2-0.0.1.jar filter=lfs diff=lfs merge=lfs -text
performant-1.15-3.14m.jar filter=lfs diff=lfs merge=lfs -text
Placebo-1.15.2-3.1.0.jar filter=lfs diff=lfs merge=lfs -text
Project.Essentials.Core-MOD-2.1.0+MC-1.15.2.jar filter=lfs diff=lfs merge=lfs -text
archers_paradox-1.15.2-1.0.0.jar filter=lfs diff=lfs merge=lfs -text
Blur-1.1.0-1.jar filter=lfs diff=lfs merge=lfs -text
jei-1.15.2-6.0.3.15.jar filter=lfs diff=lfs merge=lfs -text
lycanitesmobs-1.15.2-2.2.3.2.jar filter=lfs diff=lfs merge=lfs -text
walljump-forge-1.15.2-1.3.5.jar filter=lfs diff=lfs merge=lfs -text
PackMenu-1.15.2-1.2.8.jar filter=lfs diff=lfs merge=lfs -text
Artifacts-1.15.2-2.5.1.jar filter=lfs diff=lfs merge=lfs -text
noRecipeBook_v1.5.4formc1.15.2.jar filter=lfs diff=lfs merge=lfs -text
solcarrot-1.15.2-1.9.7.jar filter=lfs diff=lfs merge=lfs -text
tombstone-4.6.0-1.15.2.jar filter=lfs diff=lfs merge=lfs -text
AI-Improvements-1.15.2-0.3.0.jar filter=lfs diff=lfs merge=lfs -text
overloadedarmorbar-4.0.0.jar filter=lfs diff=lfs merge=lfs -text
colytra-FORGE-1.15.2-3.0.jar filter=lfs diff=lfs merge=lfs -text
CreativeCore_v2.0.5_mc1.15.2.jar filter=lfs diff=lfs merge=lfs -text
NetherPortalFix_1.15.2-6.0.2.jar filter=lfs diff=lfs merge=lfs -text
ruins-1.15.2.1.jar filter=lfs diff=lfs merge=lfs -text
SpartanShields-1.15.2-2.1.0.jar filter=lfs diff=lfs merge=lfs -text
Chunk+Pregenerator-V1.15-3.0.3.jar filter=lfs diff=lfs merge=lfs -text
Waystones_1.15.2-6.0.2.jar filter=lfs diff=lfs merge=lfs -text
Atum-1.15.2-2.1.12.jar filter=lfs diff=lfs merge=lfs -text
cc-tweaked-1.15.2-1.95.0.jar filter=lfs diff=lfs merge=lfs -text
AdHooks-1.15.2-5.1.0.0-build.0046.jar filter=lfs diff=lfs merge=lfs -text
exoticbirds-1.15.2-1.1.0.jar filter=lfs diff=lfs merge=lfs -text
ForgeEndertech-1.15.2-6.0.4.0-build.0044.jar filter=lfs diff=lfs merge=lfs -text
create-mc1.15.2_v0.3a.jar filter=lfs diff=lfs merge=lfs -text
pandoras_creatures-1.15.2-1.0.1.jar filter=lfs diff=lfs merge=lfs -text
SpartanWeaponry-1.15.2-2.0.0-beta-1.jar filter=lfs diff=lfs merge=lfs -text
thutessentials-1.15.2-3.0.18.jar filter=lfs diff=lfs merge=lfs -text
inventorypets-2.0.8.jar filter=lfs diff=lfs merge=lfs -text
cofh_core-1.15.2-1.0.2.jar filter=lfs diff=lfs merge=lfs -text
curios-FORGE-1.15.2-2.0.2.6.jar filter=lfs diff=lfs merge=lfs -text
Xaeros_Minimap_20.30.1_Forge_1.15.2.jar filter=lfs diff=lfs merge=lfs -text
torohealth-1.15.2-forge-1.jar filter=lfs diff=lfs merge=lfs -text
caelus-FORGE-1.15.2-2.0-beta3.jar filter=lfs diff=lfs merge=lfs -text
iceandfire-2.1.0-1.15.2.jar filter=lfs diff=lfs merge=lfs -text
pamhc2foodcore-1.15.2-1.1.0.jar filter=lfs diff=lfs merge=lfs -text
simplefarming-1.15.2-1.3.4.jar filter=lfs diff=lfs merge=lfs -text
sit-1.15.1-v1.3.jar filter=lfs diff=lfs merge=lfs -text
SoundFilters-0.14_for_1.15.2.jar filter=lfs diff=lfs merge=lfs -text
Apotheosis-1.15.2-3.3.8.jar filter=lfs diff=lfs merge=lfs -text
ToolBelt-1.15.2-1.14.2.jar filter=lfs diff=lfs merge=lfs -text
The-Endergetic-Expansion-1.15.2-v1.3.2(1).jar filter=lfs diff=lfs merge=lfs -text
Abnormals-Core-1.15.2-1.0.6.jar filter=lfs diff=lfs merge=lfs -text
Aquaculture-1.15.2-2.0.23.jar filter=lfs diff=lfs merge=lfs -text
citadel-1.1.11.jar filter=lfs diff=lfs merge=lfs -text
phosphor-forge-mc1.15.2-0.5.2+build.4.jar filter=lfs diff=lfs merge=lfs -text
